@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(51,56,103);
    background: -o-linear-gradient(left, rgba(51,56,103,1) 0%, rgba(0,0,0,1) 35%, rgba(22,25,58,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(51,56,103,1)), color-stop(35%, rgba(0,0,0,1)), to(rgba(22,25,58,1)));
    background: linear-gradient(90deg, rgba(51,56,103,1) 0%, rgba(0,0,0,1) 35%, rgba(22,25,58,1) 100%);
}

header {
    width: 100%;
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: #333867c2;
    color: #fff;
}

.hrnet__identity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem
}

.logo {
    width: 4rem;
    height: auto;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 3rem
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit
}

.navbar__link {
    text-decoration: none;
}

.navbar__link--active {
    text-decoration: underline;
}

.employee-creation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.employee-creation__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.create-employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fffffff8;
    margin: 3rem;
    width: 30rem;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.create-employee__title {
    margin-bottom: 1rem;
}

.employee-creation__identity,
.employee-creation__address,
.employee-creation__department {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.employee-creation__address {
    margin-top: 2rem;
}

fieldset {
    border: 2px solid #181a2f5f;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
fieldset legend {
    color: #181a2f5f;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
}

.input {
    width: 19rem;
    height: 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: #0000004b;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.input + label {
    margin-bottom: none;
}

label {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.css-qbdosj-Input .states-selector {
    grid-area: 1/3/2/3;
    margin: 0;
    grid-template-columns: auto;
}

.css-13cymwt-control{
    width: 18.5rem;
}

.employee-creation__save-button {
    cursor: pointer;
    margin-top: 2rem;
    background-color: #92ad19b2;
    padding: 1rem 3rem;
    border-radius: 3rem;
    font-weight: bold;
    border-width:1px;
    border-color:#00000050;
}

.employee-creation__save-button:hover {
    background-color: #9cb91da7;
}

.paginated-react-table__container {
    width: 90vw;
    background-color: #fffffff8;
}

.pure-modal .panel-body, .pure-modal .panel-footer, .pure-modal .panel-title {
    word-break: break-all;
    text-align: center;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media only screen and (max-width: 900px) {
    .paginated-react-table__header {
        white-space: normal
    }
}
